@import 'tailwindcss';

@layer utilities {
  .input {
    @apply bg-neutral transition-all;
    @apply focus:border-primary focus-within:border-primary;
    @apply focus:shadow-primary/50 focus:shadow-[0_0_32px_0];
    @apply focus-within:shadow-primary/50 focus-within:shadow-[0_0_32px_0];
    @apply focus-within:outline-0 focus:outline-0;
  }
  .button {
    @apply backdrop-blur-md;
  }
  .dialog-overlay {
    @apply fixed top-0 right-0 bottom-0 left-0 z-[998];
    @apply bg-black/20 backdrop-blur-md;
  }
  .dialog-content {
    @apply fixed top-1/2 left-1/2 z-[999] -translate-1/2;
    @apply border-base-300 rounded-md border bg-[#101114] p-4;
  }
  .toggle {
    --radius-selector: 9999px;
  }
  .btn {
    --radius-field: 4px;
  }
  .btn-neutral {
    --btn-color: var(--color-base-300);
  }
}
