@import './fonts.css';

@import 'tailwindcss';
@plugin "tailwindcss-animate";

@layer base {
  :root {
    background-color: #0f0c24;
    scrollbar-width: thin;
    scrollbar-color: #7b61ff transparent;
  }
}
